@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.serversNav {
  height: 100vh;
  width: v.$servers-width;
  min-width: v.$servers-width;
  background: v.$navbar;
  padding-top: 10px;
  ul {
    @include m.flex(column, flex-start);
    gap: 10px;
    hr {
      background: v.$activeItem;
      width: 50%;
      height: 2px;
      border: 0;
    }
  }
}
