$primary-color: #000000;
$secondary-color: #ffffff;

$txt-primary: #ffffff;
$txt-secondary: #b5bac1;

$green: #23a559;
$blue: #5865f2;

$navbar: #1e1f22;
$friendsBar: #2b2d31;
$background: #313338;
$searchbar: #1e1f22;
$scrollbar: #1a1b1e;
$userInfo: #232428;

$activeItem: #404249;

$main-font: "Noto Sans JP", sans-serif;

$servers-width: 75px;
$private-channels-width: 240px;
$active-now-width: 366px;
$header-height: 48px;
$toggleViews-height: 95px;
$userInfo-height: 52px;
