@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.toggleViews {
  @include m.flex(column);
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 2.5px;
  width: 90%;
  button {
    @include m.flex(row, flex-start);
    color: v.$txt-secondary;
    gap: 15px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    span {
      margin-bottom: 3px;
    }
    &.active,
    &:hover {
      background: v.$activeItem;
      color: v.$txt-primary;
    }
  }
}
